body{
  margin:0;
  padding:0;
}
.header{
  background-color: #0181CA;
}
.header img{
  width: 50%;
  height: 25%;
}
.header h1{
  font-size: 50px;
  padding-top: 10px;
}
.third-col h2{
  color: red;
  margin-bottom: 50px;
}
.header h5{
  border-bottom: 1px solid green;
  color: dimgray;
}
